[package]
name = "move-vm-runtime"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
description = "Core Move execution logic"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
publish = false
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sp-std = "2.0.0"
hashbrown = "0.9"
fail = "0.4.0"
mirai-annotations = "1.10.1"
once_cell = "1.4.1"

bytecode-verifier = { path = "../../bytecode-verifier", version = "0.1.0" }
libra-crypto = { path = "../../../crypto/crypto", version = "0.1.0" }
libra-logger = { path = "../../../common/logger", version = "0.1.0" }
libra-infallible = { path = "../../../common/infallible", version = "0.1.0" }
move-core-types = { path = "../../move-core/types", version = "0.1.0" }
move-vm-natives = { path = "../natives", version = "0.1.0" }
move-vm-types = { path = "../types", version = "0.1.0" }
vm = { path = "../../vm", version = "0.1.0" }

[dev-dependencies]
anyhow = "1.0.34"
hex = "0.4.2"
proptest = "0.10.1"

[features]
default = []
debug_module = ["move-vm-natives/debug_module"]
failpoints = ["fail/failpoints"]
