name: Tests
on:
  pull_request:
  push:
    branches:
      - master
      - release-*

env:
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: full
  CARGO_INCREMENTAL: 0
  RUSTUP_MAX_RETRIES: 10
  CARGO_NET_RETRY: 10

jobs:
  test:
    name: Tests
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        rust:
          - "stable"
        dove:
          - "1.2.1"
          - "1.2.2"
        os:
          - macos-latest
          - ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          components: rustfmt, clippy

      - name: Code-style
        run: cargo fmt -- --check

      - name: Dove executable
        uses: pontem-network/get-dove@main
        with:
          version: ${{ matrix.dove }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Tests
        run: cargo test --all --tests --no-fail-fast -- --test-threads=4 --nocapture

      - name: Clippy
        run: cargo clippy --examples -- -Dwarnings

  build:
    name: Build
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        rust:
          - nightly-2021-04-24
        dove:
          - "1.2.1"
          - "1.2.2"
        os:
          - macos-latest
          - ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          target: wasm32-unknown-unknown

      - name: Dove executable
        uses: pontem-network/get-dove@main
        with:
          version: ${{ matrix.dove }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build WASM -std
        run: |
          cd mvm
          cargo build --package mvm --target wasm32-unknown-unknown --no-default-features

      - name: Build with +std
        run: |
          cd mvm
          cargo build --package mvm --no-default-features --features="std"
